
@font-face {
  font-family: 'unsteady_oversteerregular';
  src: url('unsteady_oversteer-webfont.woff2') format('woff2'),
       url('unsteady_oversteer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#logo_div
{
  font-family: "unsteady_oversteerregular";
  color: white;
  font-size: 40px;
  position:fixed;
    top   : 5%;
    bottom: 10%;
    right : 15%;
    left  : 15%;
    text-align: center;
}

#canvas_div
{
    position:fixed;
    top   : 15%;
    bottom: 10%;
    right : 15%;
    left  : 15%;

    box-shadow:2px 2px 8px 0px #EFE9D3;
    text-align: center;
}

body {
  background-color: #0f0f0f;
}
